<h1>Say#hello</h1><%= @now %>
<p>Find me in app/views/say/hello.html.erb</p>

Hello Dave.<br>


<%= 2+2 %>
<% 3.times do %>
 <p>Hi!</p>
    Ho!
    <script>document.write("hello!");</script>
    <%#= @yo %>
<% end %>
<br/>
<div class="dave">
<%= link_to "Dave teach", dave_teach_path %>
</div>
